# Path to your .qea file (Sparx Enterprise Architect export)
# Copy this file to .env and set your local path.
#
# Can be a file path:
#   EA_QEA_PATH=C:\EA\exports\model.qea
#
# Or a directory (the newest .qea file will be used automatically):
#   EA_QEA_PATH=C:\EA\exports\
#
EA_QEA_PATH=
